body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  overflow-y: auto;
}
.modal-90w {
  max-width: 90vw;
  max-height: 18vw;
  overflow-y: auto;
}
.transaction-item {
  background: white;
}
.scrollable-container {
  max-height: 50vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
